body { font-family: Arial; text-align: center; }
.result { display: none; font-size: 20px; font-weight: bold; margin-top: 20px; }
.play-again{ display: none; }
button { margin: 5px; padding: 10px 20px; }